<table class="table table-bordered">
  <thead class="table-dark">
    <tr>
      <th scope="col">No</th>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Email</th>
      <th scope="col">Phone</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>email@gmail.com</td>
      <td>0812738374383</td>
      <td>
          <a href="" type="button" class="btn btn-light btn-small"><i class="bi bi-eye"></i> View</a>
          <a href="" type="button" class="btn btn-light btn-small"><i class="bi bi-pencil-square"></i> Edit</a>
          <a href="" type="button" class="btn btn-light btn-small"><i class="bi bi-trash"></i> Delete</a>
      </td>
    </tr>
  </tbody>
</table>